{% extends "layout.html"%}
{% block style %}

<style type="text/css">
	html,body{font-family: arial,Microsoft YaHei,微软雅黑,simsun,宋体;}
	*{margin:0;padding:0;}
	body{text-align:left;font-size:12px;line-height:normal;background-color:transparent;}
	.clearfix:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:".";}
	.clearfix{zoom:1;}
	.w-tbu{background:url(/rsc/img/icon2-8.png?004) no-repeat 999px 999px;}
	.w-tbu{display:block;width:24px;height:29px;overflow:hidden;text-indent:-2000px;cursor:pointer;background-position:-55px -683px;}
	.w-tbu-sel{background-position:-76px -683px;}
	/* 结构布局 ************************/

	/* 根节点 */
	.bcmt{text-align:left;font-size:12px;line-height:normal;}
	.bcmt a{text-decoration:none;cursor:pointer;}
	.bcmt a:hover{text-decoration:underline;}

	/* 发布区 */
	.bcmtadd{position:relative;margin:0 0 18px;zoom:1;}
	.bcmtadd .w-tbu{display:none;position:absolute;right:0;top:0;}
	.bcmtadd-tbu .bcmtipt{padding-right:25px;}
	.bcmtadd-tbu .w-tbu{display:block;}
	/* 输入框 */
	.bcmtipt{border-style:solid;border-width:1px;margin:0 0 10px;padding:3px 5px;}
	.bcmtiptc{width:100%;}
	.bcmtiptc textarea{width:100%;height:57px;overflow:auto;border:0;outline:0;resize:none;background:none;line-height:19px;font-size:12px;}
	/* 按钮 */
	.bcmtbtn{text-align:right;}
	.bcmtbtn button{width:78px;height:24px;border-style:solid;border-width:1px;cursor:pointer;}

	/* 列表 */
	.bcmtlst{}
	.bcmtlst li{float:left;width:100%;border-style:solid;border-width:1px 0 0;}

	/* 列表内边距 */
	.bcmtlsta{padding:10px 0;}

	/* 头像 */
	.bcmtlstb,.bcmtlstb img{float:left;width:20px;height:20px;border:0;}
	.bcmtlstb{position:relative;}

	/* 头像右侧自适应 */
	.bcmtlstc{float:right;width:100%;margin-left:-20px;}
	.bcmtlstd{margin-left:30px;}

	/* 信息和操作区 */
	.bcmtlste{position:relative;zoom:1;}

	/* 评论内容 */
	.bcmtlstf{}

	/* 信息区自适应 */
	.bcmtlstg{float:left;width:100%;margin-right:-120px;}
	.bcmtlsti{margin-right:120px;}
	.bcmtlstj{width:100%;overflow:hidden;line-height:19px;word-wrap:break-word;}
	.bcmtlstj a{margin-right:5px;}
	.bcmtlstj a.bcmtlstk{margin-right:0;white-space:nowrap;}

	/* 操作区 */
	.bcmtlsth{position:absolute;top:0;right:0;}
	.bcmtlsth a{margin-left:10px;}

	/* 更多、loading */
	.bcmtmore{border-style:solid;border-width:1px 0 0;text-align:center;}

	/* 颜色提取 *************************/

	/* 输入框边框色 */
	.s-bd0{border-color:#ddd;}

	/* 输入框背景色 */
	.s-bg0{background:#fff;}

	/* 输入框文字色 */
	.s-fc0{color:#777;}

	/* 按钮边框色 */
	.s-bd1{border-color:#777;}

	/* 按钮背景色 */
	.s-bg1{background:#777;}

	/* 按钮文字色 */
	.s-fc1{color:#fff;}

	/* 列表项边框色 */
	.s-bd2{border-color:#ddd;}

	/* 列表项背景色 默认背景透明*/

	/* 链接颜色、操作颜色 */
	.s-fc2{color:#828d95;}

	/* 动作颜色、次要颜色 */
	.s-fc3{color:#aaa;}

	/* 内容颜色、主要颜色 */
	.s-fc4{color:#737373;}
	
	.box1{
		border-radius:5px 5px 5px 5px;
		box-shadow:0px 2px 5px rgba(0,0,0,0,0.2);
		background-color:rgb(255,255,255);
		border:0px solid rgb(255,255,255);
	     }

	body {
		background-image:url("/static/img/bgr.jpg");
	     }
</style>
{% endblock %}
{% block body %}

<!--<div class="span1">
<script id="jquery_183" type="text/javascript" class="library" src="static/js/12.js ">
</script>
<div class='content'>
<p style='text-align:center;'>
<div class='eye_wrapper' id='eyeballs'>
<img alt="Head" class="head" src="http://sandbox.runjs.cn/uploads/rs/74/nlhieis0/head.png" style="width:141px;margin:20px auto;" />
<img alt="Ball" class="eye-left" id="eye_left" src="http://sandbox.runjs.cn/uploads/rs/74/nlhieis0/ball.png" />
<img alt="Ball" class="eye-right" id="eye_right" src="http://sandbox.runjs.cn/uploads/rs/74/nlhieis0/ball.png" />
</div>
</p>
</div>
</div>
</div>-->
<!--<div class="postwrapper box wid700">-->
<!--模版测试
<div class="box">
	
	
    
    
    <div style="min-height: 73px;" class="cell">
    	
    	
        <div style="padding-left: 10px; padding-bottom: 10px;" class="fr snow">
        	<a href="/user/410/">
                <img style="max-width: 64px; max-height: 64px;" alt="amaozhao" src="http://www.gravatar.com/avatar/6868fdf191dcd2f14f8e1b0b3dbc38b4?s=80&amp;d=identicon">
            </a>
        </div>
        
        
        <span class="bigger"> 
        	<a href="/">Django中国社区</a> 
            <span class="chevron">»</span> 
            <a href="/forum/sharefound/">分享发现</a> 
        </span>
        
        
        <h1>发一个自己写的网站应用</h1>
        
        
        <div class="fade"> By <a href="/user/410/">
        	amaozhao</a> at 1 天前
            
            
             
                <span>|</span>
                
                    <a href="/attention/topic/253/">关注该主题</a>
                 </div>
    </div>-->
<div "span12" style="padding-left:30px;">       
<section id=profile class=box1>
		<div class="block article">
			<div class=side>
				<div class=day>
					<a href="/">{{ topic.date }}</a>
				</div>
				<div class=month>
					<a href="/">{{ topic.date }}</a>
				</div>
			</div>
			<div class=main>
				<div class=content>
					<div class=text>
						<center>
						<h2>
							文章标题：<a href="/say/{{articles.id}}">{{ articles.title }}</a>
						</h2>
						</center>
						<hr>
						<p>
						<td><td>{{ articles.content }}</td></td>
						</p>
						</hr>
					</div>
				</div>
				</section>
				<section id=profile class=box1>
				<div class=link>
					<div style="float:right;">
					<span href="/say/{{articles.id}}">评论({{i}})</span>
					</div>
				</div>
			</div>
		</div>
		</section>
<!--模版测试-->	
	<div class="sep=20"></div>	
			 <div class="cell">
				<div class="fr">
					</div>
					<span class="fade">
						快速回复
					<span class="snow">|</span>
					最新文章10小时，23分钟前
					</span>
				</div>
					<section id=profile class=box1>
						<div class=bcmtlst>
							<ul class="clearfix ztag">
							{%for say in says%}
	<hr noshade="noshade" />
	<div class="sep20"></div>
	<div class="cell">
        <div class="fr">
        </div>
        <span class="fade">
            文章 [ 1 ]
            <span class="snow">|</span>
            最新文章 2 天, 12 小时前
        </span>
    </div>
<div id="p1094" class="cell reply">
	
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
        	
        	
            <td width="48" valign="top">
                <a href="/user/399/">
	                <img style="max-width: 48px; max-height: 48px;" alt="boostbob" src="http://tp3.sinaimg.cn/2466246814/180/5614828359/1">
                </a>
            </td>
            
            <td width="10"></td>
            
            
            <td width="auto" valign="top">
                <div id="reply-btns" class="fr">
                    <strong>
                        <small class="snow">
                        	
                        	
                        	
	                        
	                            
	                            <a onclick="replyOne('boostbob');" href="#;">
	                            	<img border="0" align="absmiddle" alt="Reply" src="/static/conanvex/img/reply.png">
	                            </a> 
	                            &nbsp;&nbsp;  
	                            •
	                            &nbsp;&nbsp;              
	                        
                        
                            <span class="no">                           
                                
                                1 楼
                            </span>
                        </small>
                    </strong>
                </div>
                
                <div class="sep3"></div>
	               
                
                <strong>
                	<a class="dark" href="/">{{say.user}}</a>
	                
	                <small class="snow">&nbsp;&nbsp; 2 天, 12 小时前 </small>
                </strong>
                                
                <div class="sep5"></div>
                
                
                <div class="content reply_content">
                    










    
    <div class="wmd-show wmd-show-reply" id="post____reply">
        <p>{{say.content}}</p>
    </div>
	
	
	
	




		
                </div>
		</hr>
            </td>
        </tr>
    </tbody></table>
</div>

									{% endfor %}
	 <div id=mainbar class=span9>
		<div class=block>
                        <div class="main comment">
                                <h3 class=nctitle>评论</h3>
                                                        <form method="post" action="" >
                                                        {% csrf_token %}
                                                        <table>
                                                        {{form.as_table}}
                                                        </table>
                                                        <input type="submit" value="评论" />
                                                        </form>
						</div>
					</div>
				</div>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
        
{% endblock %}
