<!DOCTYPE html>

{% extends "layout.html" %}
{% block body %}
<div id=mainbar class=span9>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Django Upload Avatar</title>
    </head>
<section class=box>
{% if user %}
<p>用户名：{{user}}</p>
<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
 <div>
  <div style="margin-bottom:20px; margin-top:10px">这是放置您的头像：</div>
  {% if account.image %}
  <div><img src="static/{{image_usrls.image}}" width="150px" height="150px" /></div>
  <div style="margin-top:10px">更改头像：<input type="file" name="image"  value="上传图片"/></div>
  {% else %}
  <div>您还没有头像<input type="file" name="image"  value="上传图片" /></div>
  {% endif %}
 </div>
 <input type="submit" value="上传" name="submit" />
</form>
</section>
</div>
</html>
{% endif %}
{% endblock%}
